pipeline/Unziping files.json
{
	"name": "Unziping files",
	"properties": {
		"activities": [
			{
				"name": "Get Zip Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RawFile_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Unziping one by one practice",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get only zip files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get only zip files').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Unzip folder",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "RawFiles",
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings"
										}
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RawFile_folder",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Unzip_Folder",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "get only zip files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Zip Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Zip Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'.zip')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "unzip and stg Load"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-22T13:01:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}